@charset "utf-8";
header,
nav,
article,
section,
aside,
footer {
  display: block;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre,
abbr,
address,
cite,
code,
em,
img,
ins,
q,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1;
}
h3 {
  font-weight: bold;
  font-size: 48px;
  color: #2D3349;
}
h4 {
  font-size: 38px;
  font-weight: bold;
}
h5 {
  font-size: 24px;
  color: #333333;
}
p {
  font-size: 16px;
}
span {
  display: inline;
  line-height: 1;
}
body,
html {
  margin: auto;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
}
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input:focus {
  outline: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='button'] {
  cursor: pointer;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder {
  color: #ccc;
}
input::-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}
input::-ms-input-placeholder {
  color: #ccc;
}
input::placeholder {
  color: #ccc;
}
textarea {
  resize: none;
}
img {
  border: none;
  vertical-align: top;
}
a {
  cursor: pointer;
  color: #333;
}
ol,
ul,
li {
  list-style: none;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.w {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  min-width: 1200px;
  margin: auto;
  position: relative;
  *zoom: 1;
}
.w:after,
.w:before {
  content: " ";
  display: table;
}
.w:after {
  clear: both;
}
button {
  display: block;
  border: 0;
  font-weight: bold;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
}
i {
  display: inline-block;
}
i[class^='ico'] {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
}
.header .h-left {
  float: left;
}
.header .title {
  width: 482px;
  margin: 48px 0 40px;
}
.header .explain-left,
.header .explain-right {
  float: left;
}
.header .explain-right > li {
  margin-bottom: 14px;
}
.header .t-red {
  color: #FF0000;
}
.header .h-right {
  float: right;
  text-align: center;
}
.header .right-gif {
  width: 230px;
}
.main {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 60px 40px;
  margin: 20px auto 60px;
  width: 1200px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 30px #F0E8D4;
     -moz-box-shadow: 0 0 30px #F0E8D4;
          box-shadow: 0 0 30px #F0E8D4;
  overflow: hidden;
}
.main .main-left {
  float: left;
}
.main .left-item {
  margin: 80px 0 0;
}
.main .left-item-p {
  margin: 0 0 40px;
  font-size: 30px;
  color: #4A370C;
}
.main .icon {
  margin: 2px 15px 0 0;
}
.main .imgBox {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding-left: 20px;
  width: 364px;
  background: #F0F0F0;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  color: #999;
  font-size: 18px;
}
.main .imgBox > p {
  line-height: 73px;
}
.main .file {
  display: none;
}
.main .imgBox-btn {
  float: left;
  margin-left: 22px;
  width: 154px;
  height: 73px;
  background: #D7CCB1;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  font-size: 24px;
  color: #4A370C;
  font-weight: normal;
}
.main .imgBox-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
          box-shadow: 0 0 20px #ddd;
}
.main .download {
  margin: 100px;
  width: 231px;
  height: 68px;
  background: #D7CCB1;
  color: #574622;
  font-size: 30px;
  font-weight: normal;
  -webkit-border-radius: 34px;
     -moz-border-radius: 34px;
          border-radius: 34px;
}
.main .download:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
          box-shadow: 0 0 20px #ddd;
}
.main .main-right {
  float: right;
  width: 422px;
}
.main .main-right .right-p {
  padding: 40px 0 30px;
  font-size: 20px;
  color: #4a370c;
  text-align: center;
}
.main .main-right .finalImgBox {
  display: none;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 420px;
  height: auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 20px #ddd;
     -moz-box-shadow: 0 0 20px #ddd;
          box-shadow: 0 0 20px #ddd;
  background: #eaeaea;
}
.main .main-right .finalImgBox::after,
.main .main-right .finalImgBox::before {
  position: absolute;
  top: -228px;
  content: '';
  width: 22px;
  height: 225px;
  background: url(../images/icon3.png) no-repeat center;
}
.main .main-right .finalImgBox::after {
  right: 10%;
}
.main .main-right .finalImgBox::before {
  left: 10%;
}
.main .main-right .finalImgBox .code {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 200px;
  height: 200px;
  border: 1px dashed #ee392e;
  background: #fff;
}
.main .main-right .finalImg > img {
  width: 400px;
}
.f-right {
  position: fixed;
  top: 40%;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #b5aa8e url(../images/icon4.png) no-repeat center;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  cursor: help;
}
.f-center {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.f-center .content {
  position: absolute;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 584px;
  height: 421px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background: #f4f5ec;
  -webkit-box-shadow: 0 0 30px #888;
     -moz-box-shadow: 0 0 30px #888;
          box-shadow: 0 0 30px #888;
}
.f-center .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #bfbfbf;
  background: url(../images/icon5.png) no-repeat center;
  -webkit-background-size: 30px 30px;
     -moz-background-size: 30px 30px;
       -o-background-size: 30px 30px;
          background-size: 30px 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.f-center .close:hover {
  background-image: url(../images/icon6.png);
  border-color: #f9f9f9;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.f-center .title {
  font-size: 30px;
  color: #3B2C0A;
  text-align: center;
}
.f-center .p1 {
  margin-top: 30px;
  color: #3B2C0A;
  font-weight: bold;
  font-size: 20px;
}
.f-center .p2 {
  color: #e90000;
  font-size: 14px;
  line-height: 2;
}
.f-center .p3 {
  color: #3B2C0A;
  font-size: 16px;
  line-height: 1.8;
}
.bottom {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.bottom p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
#bubble_bg {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  list-style: none;
  background: #f8f5ee;
}
#bubble_bg .bubble {
  position: absolute;
  z-index: -1;
  bottom: -200px;
  left: 2%;
  width: 50px;
  height: 50px;
  background: #EDE5D4;
  -webkit-animation: bubbleMove 27s linear infinite;
     -moz-animation: bubbleMove 27s linear infinite;
       -o-animation: bubbleMove 27s linear infinite;
          animation: bubbleMove 27s linear infinite;
}
#bubble_bg .bubble:nth-of-type(2) {
  width: 60px;
  height: 60px;
  left: 12%;
  -webkit-animation-delay: 12s;
     -moz-animation-delay: 12s;
       -o-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-duration: 24s;
     -moz-animation-duration: 24s;
       -o-animation-duration: 24s;
          animation-duration: 24s;
}
#bubble_bg .bubble:nth-of-type(3) {
  width: 20px;
  height: 20px;
  left: 19%;
  -webkit-animation-delay: 5s;
     -moz-animation-delay: 5s;
       -o-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 28s;
     -moz-animation-duration: 28s;
       -o-animation-duration: 28s;
          animation-duration: 28s;
}
#bubble_bg .bubble:nth-of-type(4) {
  width: 80px;
  height: 80px;
  left: 25%;
  -webkit-animation-delay: 10s;
     -moz-animation-delay: 10s;
       -o-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 25s;
     -moz-animation-duration: 25s;
       -o-animation-duration: 25s;
          animation-duration: 25s;
}
#bubble_bg .bubble:nth-of-type(5) {
  width: 38px;
  height: 38px;
  left: 39%;
  -webkit-animation-delay: 18s;
     -moz-animation-delay: 18s;
       -o-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-duration: 26s;
     -moz-animation-duration: 26s;
       -o-animation-duration: 26s;
          animation-duration: 26s;
}
#bubble_bg .bubble:nth-of-type(6) {
  width: 14px;
  height: 14px;
  left: 42%;
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
       -o-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 25s;
     -moz-animation-duration: 25s;
       -o-animation-duration: 25s;
          animation-duration: 25s;
}
#bubble_bg .bubble:nth-of-type(7) {
  width: 84px;
  height: 84px;
  left: 52%;
  -webkit-animation-delay: 8s;
     -moz-animation-delay: 8s;
       -o-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 24s;
     -moz-animation-duration: 24s;
       -o-animation-duration: 24s;
          animation-duration: 24s;
}
#bubble_bg .bubble:nth-of-type(8) {
  width: 34px;
  height: 34px;
  left: 64%;
  -webkit-animation-delay: 20s;
     -moz-animation-delay: 20s;
       -o-animation-delay: 20s;
          animation-delay: 20s;
  -webkit-animation-duration: 38s;
     -moz-animation-duration: 38s;
       -o-animation-duration: 38s;
          animation-duration: 38s;
}
#bubble_bg .bubble:nth-of-type(9) {
  width: 74px;
  height: 74px;
  left: 72%;
  -webkit-animation-delay: 10s;
     -moz-animation-delay: 10s;
       -o-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 33s;
     -moz-animation-duration: 33s;
       -o-animation-duration: 33s;
          animation-duration: 33s;
}
#bubble_bg .bubble:nth-of-type(10) {
  width: 26px;
  height: 26px;
  left: 84%;
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 28s;
     -moz-animation-duration: 28s;
       -o-animation-duration: 28s;
          animation-duration: 28s;
}
#bubble_bg .bubble:nth-of-type(11) {
  width: 68px;
  height: 68px;
  left: 92%;
  -webkit-animation-delay: 19s;
     -moz-animation-delay: 19s;
       -o-animation-delay: 19s;
          animation-delay: 19s;
  -webkit-animation-duration: 20s;
     -moz-animation-duration: 20s;
       -o-animation-duration: 20s;
          animation-duration: 20s;
}
@-webkit-keyframes bubbleMove {
  0% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(-480deg) scale(2);
            transform: translateY(-700px) rotate(-480deg) scale(2);
  }
}
@-moz-keyframes bubbleMove {
  0% {
    -moz-transform: translateY(0) rotate(0) scale(1);
         transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    -moz-transform: translateY(-700px) rotate(-480deg) scale(2);
         transform: translateY(-700px) rotate(-480deg) scale(2);
  }
}
@-o-keyframes bubbleMove {
  0% {
    -o-transform: translateY(0) rotate(0) scale(1);
       transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    -o-transform: translateY(-700px) rotate(-480deg) scale(2);
       transform: translateY(-700px) rotate(-480deg) scale(2);
  }
}
@keyframes bubbleMove {
  0% {
    -webkit-transform: translateY(0) rotate(0) scale(1);
       -moz-transform: translateY(0) rotate(0) scale(1);
         -o-transform: translateY(0) rotate(0) scale(1);
            transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(-480deg) scale(2);
       -moz-transform: translateY(-700px) rotate(-480deg) scale(2);
         -o-transform: translateY(-700px) rotate(-480deg) scale(2);
            transform: translateY(-700px) rotate(-480deg) scale(2);
  }
}
