@charset "utf-8";
// yuanaaa Less自定义
.bgs() {
	background-size: cover;
}
.bgsc() {
	background-size: contain;
}
.pr() {
	position: relative;
}
.pa() {
	position: absolute;
}
.trs() {
	transition: all 0.3s ease-in-out;
}
.bb() {
	box-sizing: border-box;
}
// h5标签
header,nav,article,section,aside,footer{display:block;}
// 通用
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,span,pre,abbr,address,cite,code,em,img, ins,q,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,form,label,table,caption,tbody,tfoot,thead,tr, th,td,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section, summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a {
	line-height: 1;
}
h3 {
	font-weight: bold;
	font-size: 48px;
	color: #2D3349;
}
h4 {
	font-size: 38px;
	font-weight: bold;
}
h5 {
	font-size: 24px;
	color: #333333;
}
p {
	font-size: 16px;
}
span {
	display: inline;
	line-height: 1;
}
// body and html
body, html {
	margin: auto;
	line-height: 1;
	// 解决浏览器纵向字体放大
	-webkit-text-size-adjust: 100%;
	-text-size-adjust: 100%;
}
body {
	overflow-x: hidden;
}
body, button, input, select, textarea {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 14px
}
// 表单相关
table {
	border-collapse: collapse
}
input, select, textarea {
	outline: none;
	border: none;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
input[type='number'] {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='button'] {
	cursor: pointer;
}
input::placeholder {
	color: #ccc;
}
textarea {
	resize: none
}
// img
img {
	border: none;
	vertical-align: top;
}
// a标签
a {
	cursor: pointer;
	color: #333;
}
// ol ul
ol, ul ,li {
	list-style: none
}
// 清除浮动
.clearfix:after, .clearfix:before {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.clearfix {
	*zoom: 1
}
// 版心自带clearfix
.w {
	box-sizing: border-box;
	width: 1200px;
	min-width: 1200px;
	margin: auto;
	position: relative;
	*zoom: 1
}
.w:after, .w:before {
	content: " ";
	display: table
}
.w:after {
	clear: both
}
// 按钮样式
button {
	display: block;
	border: 0;
	font-weight: bold;
	box-sizing: border-box;
	.trs();
	cursor: pointer;
	outline: none;
}
// ico
i {
	display: inline-block;
}
i[class^='ico'] {
	.bgs();
	.pa();
}

// 页面内容开始
.header {
	.h-left {
		float: left;
	}
	.title {
		width: 482px;
		margin: 48px 0 40px;
	}
	.explain-left,
	.explain-right {
		float: left;
	}
	.explain-right {
		&>li {
			margin-bottom: 14px;
		}
	}
	.t-red {
		color: #FF0000;
	}
	.h-right {
		float: right;
		text-align: center;
	}
	.right-gif {
		width: 230px;
	}
}

.main {
	.bb();
	padding: 0 60px 40px;
	margin: 20px auto 60px;
	width: 1200px;
	background: rgba(255,255,255,0.7);
	border-radius: 10px;
	box-shadow: 0 0 30px #F0E8D4;
	overflow: hidden;
	.main-left {
		float: left;
	}
	.left-item {
		margin: 80px 0 0;
	}
	.left-item-p {
		margin: 0 0 40px;
		font-size: 30px;
		color: #4A370C;
	}
	.icon {
		margin: 2px 15px 0 0;
	}
	.imgBox {
		.bb();
		float: left;
		padding-left: 20px;
		width: 364px;
		background: #F0F0F0;
		border-radius: 10px;
		color: #999;
		font-size: 18px;
		&>p {
			padding: 29px 0;
		}
	}
	.file {
		display: none;
	}
	.imgBox-btn {
		float: left;
		margin-left: 22px;
		width: 154px;
		height: 73px;
		background: #D7CCB1;
		border-radius: 10px;
		font-size: 24px;
		color: #4A370C;
		font-weight: normal;
		&:hover {
			color: #fff;
			box-shadow: 0 0 20px #ddd;
		}
	}
	.download {
		margin: 100px;
		width: 231px;
		height: 68px;
		background: #D7CCB1;
		color: #574622;
		font-size: 30px;
		font-weight: normal;
		border-radius: 34px;
		&:hover {
			color: #fff;
			box-shadow: 0 0 20px #ddd;
		}
	}
	.main-right {
		float: right;
		width: 422px;
		.right-p {
			padding: 40px 0 30px;
			font-size: 20px;
			color: #4a370c;
			text-align: center;
		}
		.finalImgBox {
			display: none;
			.pr();
			.bb();
			margin: 0 auto;
			width: 420px;
			height: auto;
			border: 10px solid #fff;
			box-shadow: 0 0 20px #ddd;
			background: #eaeaea;
			&::after,
			&::before {
				.pa();
				top: -228px;
				content: '';
				width: 22px;
				height: 225px;
				background: url(../images/icon3.png) no-repeat center;
			}
			&::after {
				right: 10%;
			}
			&::before {
				left: 10%;
			}
			.code {
				.pa();
				top: 0;
				left: 0;
				display: none;
				width: 0;
				height: 0;
				border: 1px dashed #ee392e;
				background: #fff;
			}

		}
		.finalImg>img {
			width: 400px;
		}
	}
}

.f-right {
	position: fixed;
	top: 40%;
	right: 20px;
	width: 60px;
	height: 60px;
	background: #b5aa8e url(../images/icon4.png) no-repeat center;
	border-radius: 50%;
	cursor: help;
}

.f-center {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	.content {
		position: absolute;
		.bb();
		padding: 30px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 584px;
		height: 421px;
		border-radius: 50px;
		background: #f4f5ec;
		box-shadow: 0 0 30px #888;
	}
	.close {
		.pa();
		right: 20px;
		top: 20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #bfbfbf;
		background: url(../images/icon5.png) no-repeat center;
		background-size: 30px 30px;
		cursor: pointer;
		.trs();
		&:hover {
			background-image: url(../images/icon6.png);
			border-color: #f9f9f9;
			transform: rotate(180deg);
		}
	}
	.title {
		font-size: 30px;
		color: #3B2C0A;
		text-align: center;
	}
	.p1 {
		margin-top: 30px;
		color: #3B2C0A;
		font-weight: bold;
		font-size: 20px;
	}
	.p2 {
		color: #e90000;
		font-size: 14px;
		line-height: 2;
	}
	.p3 {
		color: #3B2C0A;
		font-size: 16px;
		line-height: 1.8;
	}
}


.bottom {
	position: fixed;
	bottom: 10px;
	width: 100%;
	p {
		width: 100%;
		text-align: center;
		font-size: 14px;
		cursor: pointer;
	}
}


#bubble_bg {
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	min-width: 1200px;
	height: 100%;
	list-style: none;
	background: #f8f5ee;
	.bubble {
		position: absolute;
		z-index: -1;
		bottom: -200px;
		left: 2%;
		width: 50px;
		height: 50px;
		background: #EDE5D4;
		animation: bubbleMove 27s linear infinite;
	}
	.bubble:nth-of-type(2) {
		width: 60px;
		height: 60px;
		left: 12%;
		animation-delay: 12s;
		animation-duration: 24s;
	}
	.bubble:nth-of-type(3) {
		width: 20px;
		height: 20px;
		left: 19%;
		animation-delay: 5s;
		animation-duration: 28s;
	}
	.bubble:nth-of-type(4) {
		width: 80px;
		height: 80px;
		left: 25%;
		animation-delay: 10s;
		animation-duration: 25s;
	}
	.bubble:nth-of-type(5) {
		width: 38px;
		height: 38px;
		left: 39%;
		animation-delay: 18s;
		animation-duration: 26s;
	}
	.bubble:nth-of-type(6) {
		width: 14px;
		height: 14px;
		left: 42%;
		animation-delay: 0s;
		animation-duration: 25s;
	}
	.bubble:nth-of-type(7) {
		width: 84px;
		height: 84px;
		left: 52%;
		animation-delay: 8s;
		animation-duration: 24s;
	}
	.bubble:nth-of-type(8) {
		width: 34px;
		height: 34px;
		left: 64%;
		animation-delay: 20s;
		animation-duration: 38s;
	}
	.bubble:nth-of-type(9) {
		width: 74px;
		height: 74px;
		left: 72%;
		animation-delay: 10s;
		animation-duration: 33s;
	}
	.bubble:nth-of-type(10) {
		width: 26px;
		height: 26px;
		left: 84%;
		animation-delay: 3s;
		animation-duration: 28s;
	}
	.bubble:nth-of-type(11) {
		width: 68px;
		height: 68px;
		left: 92%;
		animation-delay: 19s;
		animation-duration: 20s;
	}
}
@keyframes bubbleMove {
	0% {
		transform: translateY(0) rotate(0) scale(1);
	}
	100% {
		transform: translateY(-700px) rotate(-480deg) scale(2);
	}
}
