.msg {
  position: absolute;
  top: 48%;
  width: 99%;
  text-align: center;
  color: #bbb;
  font-size: 40px;
}
#bubbles_bg {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  list-style: none;
}
#bubbles_bg .bubble {
  position: absolute;
  bottom: -100px;
  background: rgba(116, 178, 234, 0.18);
  animation: bubbleMove linear infinite;
  transition: all 0.5s;
}
#bubbles_bg .bubble:hover {
  animation: none;
}
@keyframes bubbleMove {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    transform: translateY(-800px) rotate(-480deg) scale(2);
  }
}
