* {
  margin: 0;
  padding: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
ul,
ol {
  list-style: none;
}
.demo-wrapper {
  padding: 20px 0 20px 20px;
}
.demo-wrapper .demo-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
#nav {
  list-style: none;
  width: 100%;
  background: #000;
}
#nav li {
  position: relative;
  float: left;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1;
  transition: all .2s linear;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #83d0f2;
}
#nav li:hover {
  color: #fff;
}
#nav li.active {
  background: #666;
  border-bottom: 2px solid gold;
}
#nav li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  border-bottom: 2px solid gold;
  transition: all .2s linear;
}
#nav li:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  transition-delay: 0.2s;
}
#nav li:hover ~ li::before {
  left: 0;
}
#water-ripple {
  width: 800px;
  height: 600px;
  background: url(https://img.ykclass.com/dist/img/p/index-banner.png) no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: auto 100%;
  overflow: hidden;
}
#water-ripple .wave-position {
  position: absolute;
  width: 300px;
  height: 300px;
}
#water-ripple .wave {
  position: absolute;
  top: 145px;
  left: 145px;
  width: 10px;
  height: 10px;
  border-radius: 300px;
  background: url(https://img.ykclass.com/dist/img/p/index-banner.png);
  background-attachment: fixed;
  background-position: top left;
  background-size: 100%;
  opacity: 0;
}
#water-ripple .wave0 {
  z-index: 2;
  background-size: auto 105%;
  animation: waterMove 1s forwards;
}
#water-ripple .wave1 {
  z-index: 3;
  background-size: auto 102%;
  animation: waterMove 1.1s 0.2s forwards;
}
#water-ripple .wave2 {
  z-index: 4;
  background-size: auto 104%;
  animation: waterMove 1.2s 0.4s forwards;
}
#water-ripple .wave3 {
  z-index: 5;
  background-size: auto 101%;
  animation: waterMove 1.3s 0.5s forwards;
}
#water-ripple .wave4 {
  z-index: 6;
  background-size: auto 102%;
  animation: waterMove 1.4s 0.8s forwards;
}
#water-ripple .wave5 {
  z-index: 7;
  background-size: auto 100%;
  animation: waterMove 1.5s 0.9s forwards;
}
@keyframes waterMove {
  0% {
    top: 145px;
    left: 145px;
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
#toggle {
  position: relative;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background: #ccc;
}
#toggle .check {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}
#toggle .track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#toggle .switch {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 32px;
  border-radius: 18px;
  background: #fff;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left,right;
  transition-delay: 0s , .05s;
}
#toggle .check:checked ~ .track {
  box-shadow: inset 0 0 0 22px #4bd863;
}
#toggle .check:checked ~ .switch {
  left: 32px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  transition-delay: 0.05s , 0s;
}
#rotary-border .box {
  width: 300px;
  height: 240px;
  background: #ccc;
  background: linear-gradient(90deg, #000 50%, transparent 0) repeat-x, linear-gradient(180deg, #000 50%, transparent 0) repeat-y, linear-gradient(270deg, #000 50%, transparent 0) repeat-x, linear-gradient(0deg, #000 50%, transparent 0) repeat-y;
  background-size: 8px 1px, 1px 8px, 8px 1px, 1px 8px;
  background-position: 0 0 , 100% 0, 100% 100%, 0 100%;
  animation: borderMove 0.5s infinite linear;
}
@keyframes borderMove {
  100% {
    background-position: 6% 0, 100% 6%, 94% 100% ,0 94% ;
  }
}
#ball-move {
  /*demo1*/
  /*demo2*/
}
#ball-move .box {
  float: left;
  margin-right: 20px;
  width: 200px;
  border: 1px dashed #000;
  background: #dfdfdf;
}
#ball-move .list1 {
  width: 160px;
  height: 20px;
  margin: 50px;
}
#ball-move .list1 .list {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}
#ball-move .list1 .list + .list {
  margin-left: 20px;
}
#ball-move .list1 .list::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  left: 20px;
  top: -2px;
  transition: left 0.1s ease-in-out;
}
#ball-move .list1 .active::before {
  left: -2px;
}
#ball-move .list1 .active ~ .list::before {
  left: -20px;
}
#ball-move .list2 {
  position: relative;
  width: 100px;
  height: 20px;
  margin: 50px;
}
#ball-move .list2 .list {
  box-sizing: border-box;
  float: left;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}
#ball-move .list2 .list + .list {
  margin-left: 20px;
}
#ball-move .list2 .active {
  position: absolute;
  left: 0;
  right: 80px;
  top: 0;
  bottom: 0;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  transition-property: left, right;
}
#ball-move .list2 .activeToRight {
  transition-delay: 0.08s, 0s;
}
#ball-move .list2 .activeToLeft {
  transition-delay: 0s, 0.08s;
}
#letter-paper {
  position: relative;
  width: 400px;
  height: 800px;
  background-color: #efefef;
  background-image: linear-gradient(#e7e6e6 1px, transparent 0), linear-gradient(90deg, #e7e6e6 1px, transparent 0);
  background-size: 800px 20px, 20px 800px;
  background-position: center;
}
#letter-paper::after,
#letter-paper::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 20px;
  background: #fff;
  box-shadow: 0 68px 0 0 #fff, 0 calc(68px * 2) 0 0 #fff, 0 calc(68px * 3) 0 0 #fff, 0 calc(68px * 4) 0 0 #fff, 0 calc(68px * 5) 0 0 #fff, 0 -68px 0 0 #fff, 0 calc(-68px * 2) 0 0 #fff, 0 calc(-68px * 3) 0 0 #fff, 0 calc(-68px * 4) 0 0 #fff, 0 calc(-68px * 5) 0 0 #fff;
}
#letter-paper::before {
  height: 10px;
  left: 0;
}
#letter-paper::after {
  left: 18px;
  height: 20px;
  border-radius: 50%;
}
#bottom {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.05);
  color: #2c414a;
}
#bottom a {
  color: #2c414a;
}
